<ul class="breadcrumb">
  <li><%= link_to t('nav.notification'), notifications_path %></a> <span class="divider">/</span></li>
  <li class="active"><%= @notification.name %></li>
</ul>

<section>
  <%= render 'shared/content_md', model: @notification %>
</section>
