<% if model.errors.any? %>
  <div class="alert alert-block alert-error fade in">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <h2><%= t('common.error', count: model.errors.count, model: t("activerecord.models.#{model.class.to_s.downcase}")) %></h2>

    <ul>
    <% model.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
