<form action="/events" class="well form-search">
  <input name="keyword" type="text" value="<%= params[:keyword] %>" placeholder="<%=%>" class="input-medium search-query" />
  <label><%= t'common.search.label' %></label>
  <input type="submit" class="btn" value="<%= t'common.search.button'%>" />
</form>
