<div class="row">
  <div class="span2">
    <%= image_tag chat.user.image, size: '25x25', class: 'face' %>
    <%= chat.user.name %>
    <div><time><span class="muted"><%= chat.created_at.strftime(t('date.long')) %></span></time></div>
  </div>
  <div class="span10">
    <%= chat.content.html_safe %>
  </div>
</div>
