<%= form_for([@group, @chat], class: 'form-inline', remote: true) do|f|%>
  <div class="controls controls-row">
    <%= f.text_area :content, class: 'span10 auto_grow auto_clear tabby', rows: '1', placeholder: t('chats._form.placeholder.content') %>
    <%= f.submit t('chats._form.submit'), class:'btn btn-primary span2' %>
  </div>
  <div id="preview" class="markdown span8">
  </div>
<% end %>
