<div class="page-header">
  <h1>このサイトについて</h1>
</div>

<ul>
  <li>各地で行われている勉強会などのイベント開催時の管理システム</li>
  <li>コミュニティ管理システム</li>
</ul>


<div class="page-header">
  <h2>作っている人<h2>
</div>

<ul class="unstyled">
  <li>
    <%= link_to 'http://twitter.com/ppworks', rel: 'tooltip', :'data-title' => 'ppworks', :'data-placement' => 'bottom' do %>
      <%= image_tag 'https://si0.twimg.com/profile_images/2171772042/twitter_icon_20101007_05_normal.png', size: '50x50' %>
    <% end %>
  </li>
</ul>
