<div class="hero-unit">
  <h1>意識高い</h1>
  <p>意識の高まりを広げ、人との繋がりを介してナレッジやノウハウの共有を行う機会を増やすサービスです。</p>
  <p><a class="btn btn-warning btn-large" data-toggle="modal" href="/events/new" >まずはイベントを登録する &raquo;</a></p>
</div>
