<div class="page-header">
  <h1>
    <%= @wiki.name %>
  </h1>
</div>

<section>
<div class="markdown">
  <%= @wiki.content.html_safe %>
</div>
</section>

<section class="form-actions">
  <%= link_to t('.edit'), edit_wiki_path(@parent, @wiki), class: 'btn' %>
</section>


