jQuery ->
  unless $('body').hasClass('chats')
    return
  Pusher.channel_auth_endpoint = '/pusher/authentication'
  if rack_env isnt 'production'
    Pusher.log = (message) -> console.log(message)
  group_id = $('body').attr('data-id')
  channel = pusher.subscribe('presence-group_chats_' + group_id)
  channel.bind 'chat', (data) ->
    $.ajax(
      url: '/groups/' + group_id + '/chats/' + data.id,
      success: (data) ->
        $('ul[data-list="chats"]').append(data)
        $('.progress').hide()
        return
    )
    return
  
  channel.bind 'pusher:subscription_succeeded', (members) ->
    members.each (member) ->
      add_member(member)
    return

  channel.bind 'pusher:subscription_error', (data) ->
    return
    
  channel.bind 'pusher:member_added', (data) ->
    add_member(data)
    return
  
  channel.bind 'pusher:member_removed', (data) ->
    $('ul.member').find('[data-class="chat_user"][data-id="' + data.id.toString() + '"]').remove()
    return

  add_member = (member) ->
    $('ul.member').append(
      '<li><img src="' + member.info.image + '" width="25" height="25" class="face" data-class="chat_user" data-id="' + member.id.toString() + '"></li>')


  # when enter pushed
  $('textarea').keydown (event) ->
    event.stopPropagation()
    if event.keyCode == 13
      return if event.shiftKey
      $(@).parent().submit()

  $('.new_chat').submit (event) ->
    $('.progress').show()

