body {
  img.face {
    border-radius: 5px;
  }

  ul.sns {
    margin-left: 0;
    >li {
      display: inline-block;
      vertical-align: middle;
    }
  }

  ul.providers {
    >li {
      display: inline-block;
      vertical-align: middle;
    }
  }

  section.login {
    margin: 30px;
    text-align: center;
    ul.providers {
      >li {
        display: inline-block;
        margin: 0 15px 15px;
        a {
          display: block;
        }
        img {
          border-radius: 5px;
        }
      }
    }
  }

  // 全体のフッター
  >.container {
    >footer {
      margin-top: 60px;
      >ul.menu {
        display: inline-block;
        margin-left: 0;
        >li {
          display: inline-block;
          &:not(:last-child) {
            &:after {
              margin: 0 9px;
              content:'|';
            }
          }
        }
      }
      >p {//copyright
        display: inline-block;
        margin-left: 9px;
      }
    }
  }

  // label内のリンクに色を付けない
  .label a {
    color: white;
  }

}
