body {
  img.face {
    border-radius: 5px;
  }

  ul.sns {
    margin-left: 0;
    >li {
      display: inline-block;
      vertical-align: middle;
    }
  }

  ul.providers {
    >li {
      display: inline-block;
      vertical-align: middle;
    }
  }

  section.login {
    margin: 30px;
    text-align: center;
    ul.providers {
      >li {
        display: inline-block;
        margin: 0 15px 15px;
        a {
          display: block;
        }
        img {
          border-radius: 5px;
        }
      }
    }
  }

  // 全体のフッター
  >.container {
    >footer {
      margin-top: 60px;
      >ul.menu {
        display: inline-block;
        margin-left: 0;
        >li {
          display: inline-block;
          &:not(:last-child) {
            &:after {
              margin: 0 9px;
              content:'|';
            }
          }
        }
      }
      >p {//copyright
        display: inline-block;
        margin-left: 9px;
      }
    }
  }

  // label内のリンクに色を付けない
  .label a {
    color: white;
  }

  h1, h2, h3, h4, h5, h6 {
    small a {
      color: inherit;
    }
  }

  // error 表示
  .field_with_errors {
    display: inline;
  }
 
  // mutedな要素配下のリンク 
  .muted a {
    color: inherit;
  }

  // user の投稿
  .user_post {
    margin-bottom: 10px;
  }
}
